<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://maerskddac.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>maerskddac.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MaerskDDAC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$MaerskDDAC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="Maersk_LineContext" Order="1" Enabled="True">
          <Destination Path="Data Source=maerskddac.database.windows.net;Initial Catalog=MaerskDDACdb;Persist Security Info=True;User ID=tp031200;Password=Saber123!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Maersk_Line.Models.Maersk_LineContext, Maersk_Line" MigrationConfiguration="Maersk_Line.Migrations.Configuration, Maersk_Line" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MaerskDDACdbEntities" Order="2" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=maerskddac.database.windows.net;Initial Catalog=MaerskDDACdb;User ID=tp031200;Password=Saber123!;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MaerskDDACdbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/ERD.csdl|res://*/ERD.ssdl|res://*/ERD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=maerskddac.database.windows.net;initial catalog=MaerskDDACdb;user id=tp031200;password=Saber123!;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Maersk_LineContext-Web.config Connection String">
      <ParameterValue>Data Source=maerskddac.database.windows.net;Initial Catalog=MaerskDDACdb;Persist Security Info=True;User ID=tp031200;Password=Saber123!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>